
        <%-include("partials/header"); %>

        <h1><%=id%></h1>
        <br>
        <div>
           <%for (var n=0;n<posts.length;n++){%>   
            <br>
            <h2 id="homeTitle" name="homeTitle" maxlength="50"><a href="post/<%=posts[n].postTitle%>"><%=posts[n].postTitle%></a></h2>
            <p id="homePost" name="homePost" maxlength="500"><%=posts[n].postBody%></p>
            <a href="post/<%=posts[n].postTitle%>">Read More...</a>
            <%}%>
            </div>

        <%-include("partials/footer"); %>

